:root { 
  --body: #000201; 
  --card: #0C0C0C;
  --primary: #ef4444;
  --secondary: #d97706;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  scroll-behavior: smooth;
}

.bg-gradient, .text-gradient, .timeline-dot::before {
  transition: all 0.3s ease;
  background: linear-gradient(to right, var(--primary), var(--secondary)) !important;
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}


.hover_underline {
  position: relative;
  text-decoration: none;
}
.hover_underline::after {
  left: 0;
  content: '';
  width: 0%;
  height: 3px;
  bottom: -4px;
  position: absolute;
  border-radius: 50px;
  transition: 0.3s ease;
  background: linear-gradient(to right, var(--primary), var(--secondary));
}
.hover_underline:hover::after {
  width: 100%;
}


.glass, .glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.glass, .glass-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}


.timeline-dot {
    position: relative;
    padding-left: 1.5rem;
}

.timeline-dot::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    left: 0; top: 0.5rem;
}


.particle {
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  background: #fffa;
  transform: scale(0.8);
  animation: twinkle 5s infinite;
}

 @keyframes twinkle {
  50% { opacity: 1; transform: scale(1.2); }
}

.cta-button {
  color: white;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  background: var(--primary);
}

.cta-button:before , .glass-card:hover:before {
  content: '';
  top: -50%;
  left: -50%;
  width: 300%;
  height: 300%;
  position: absolute;
  animation: shine 2s 2;
  transform: translateX(-100%) rotate(45deg);
  background: linear-gradient( 45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
}

.cta-button:hover {
  scale: 1.05;
  transform: translateY(-3px);
}

@keyframes shine { 
  100% { transform: translateX(100%) rotate(45deg); }
}